{
    "env": {
        "commonjs": true,
        "es2021": true,
        "node": true
    },
    "extends": "google",
    "overrides": [
    ],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "rules": {
        "max-len": [
            "error",
            {
                "code": 80,
                "ignoreComments": true,
                "ignoreUrls": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true
            }
        ],
        "linebreak-style": 0
    }
}
